.charts-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
