.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 0 0 10px 0;
}

.active {
  color: #ffafcc;
}
